/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.wrapper{
	width: 1020px;
	border:1px solid;
	border-color: blue;
	margin: 0 auto;
}
.first1{
	display: flex;
	border:1px solid;
	border-color: blue;
	color: red;
}
.q{
	border:1px solid;
	border-color: blue;
	color: red;
}
.second{
	display: flex;
	border:1px solid;
	border-color: blue;
	color: red;
}
.q1{
	width:510px;
	border:1px solid;
	border-color: blue;
	color: red;
}
.qq{

	border:1px solid;
	border-color: blue;
	color: red;
}
.q2{
	width:510px;

}
.ww{
	
	border:1px solid;
	border-color: blue;
	color: red;
}
.third{
	display: flex;
	border:1px solid;
	border-color: blue;
	color: red;
}
.w1{
	width: 400px;
	border:1px solid;
	border-color: blue;
	color: red;
}
.w2{
	width:620px;
	border:1px solid;
	border-color: blue;
	color: red;
}
.ee{
	border:1px solid;
	border-color: blue;
	display: flex;
}
.er{
	width: 620;
	border:1px solid;
	border-color: blue;
	display: flex;
}
.er1{
	width: 310px;
	border:1px solid;
	border-color: blue;
	
}
.er2{
	width: 310px;

}
.er3 , .er4{
	border:1px solid;
	border-color: blue;
	
}
.fourth{
	display: flex;
	border:1px solid;
	border-color: blue;
	color: red;
}
.half1{
	width: 700px;
	border:1px solid;
	border-color: blue;
}
.qaz{
	width: 700px;
	border:1px solid;
	border-color: blue;
}
.wsx{
	width: 700px;
	display: flex;
	border:1px solid;
	border-color: blue;
	color: red;
}
.edc{
	width: 350px;
	border:1px solid;
	border-color: blue;
}
.ert{
	
	display: flex;
	border:1px solid;
	border-color: blue;
}
.as1 , .as2{
	border:1px solid;
	border-color: blue;
}
.zxc{
	
	border:1px solid;
	border-color: blue;
}
.rde{
	width: 350px;
	border:1px solid;
	border-color: blue;
}
.half2{
	width: 320px;
	border:1px solid;
	border-color: blue;
}
.fvb1 , .fvb2 , .fvb3{
	
	border:1px solid;
	border-color: blue;
}
.sprite{
	display:flex;

}
.sprite li{
	margin-right: 60px;
}
.sprite li:last-child{
	margin:0;
}
.sprite li a{
	width:300px ;
	height:252px;
	background: url(imgs/qwe.png) -0 -192px;
	display: block;
	margin-right: 
}
.sprite li+li a{
	width:300px ;
	height:192px;
	background: url(imgs/qwe.png) -0 -0px;
	display: block;
}
.sprite li+li+li a{
	width:300px ;
	height:400px;
	background: url(imgs/qwe.png) -0 -444px;
	display: block;
}

.menu{
	font-size:0;
	text-align: center;
	position:relative;
	z-index: 5;

}
.menu li{
	background: #110D36;
}
.first{
	text-align: center;
	font-size: 20px;
	display: inline-block;
	margin-right: 20px;
	
	position: relative;	
}
.menu .first a:hover{
	background: #EBDF21;
}
.menu .first a{
	color:white;
	text-decoration: none;
	padding: 40px 40px 40px 140px;
	display: block;
	position: relative;
}
.menu .first .threea{
	color:white;
	text-decoration: none;
	padding: 40px 140px 40px 40px;
	display: block;
	position: relative;
}
.onea:before{
	content: "";
	width: 100px;
	height: 100px;
	background: url("imgs/css_sprites (1).png") -200px -0;
	
	position: absolute;
	top: 0;
	left: 0;
}

.twoa:before{
	content: "";
	width: 100px;
	height: 100px;
	background: url("imgs/css_sprites (1).png") -100px -100px;
	
	position: absolute;
	top: 0;
	left: 0;
}
.threea:after {
	content: "";
	width: 100px;
	height: 100px;
	background: url("imgs/css_sprites (1).png") -0 -100px;
	transition: all 0s ;
	position: absolute;
	bottom: 0;
	right: 0;
}
.menu .first:hover .threea:after{
	background-position: -200px -100px;
}
.foura:before{
	content: "";
	width: 100px;
	height: 100px;
	background: url("imgs/css_sprites (1).png") -0 -200px;
	transition: all 0s ease;
	position: absolute;
	top: 0;
	left: 0;
}
.merlast:hover .foura:before{
	background-position: -300px -200px;
}
.fivea:before{
	content: "";
	width: 100px;
	height: 100px;
	background: url("imgs/css_sprites (1).png") -100px -200px;
	transition: all 1s ease;
	position: absolute;
	top: 0;
	left: 0;
}
.sixa:before{
	content: "";
	width: 100px;
	height: 100px;
	background: url("imgs/css_sprites (1).png") -300px -0;
	transition: all 1s ease;
	position: absolute;
	top: 0;
	left: 0;
}
.sevena:before{
	content: "";
	width: 100px;
	height: 100px;
	background: url("imgs/css_sprites (1).png") -0 -300px;
	transition: all 1s ease;
	position: absolute;
	top: 0;
	left: 0;
}
.merlastli:hover .sevena:before{
	background-position: -300px -100px;
}

.eighta:before{
	content: "";
	width: 100px;
	height: 100px;
	background: url("imgs/css_sprites (1).png") -100px -0;
	transition: all 1s ease;
	position: absolute;
	top: 0;
	left: 0;
}
.prev{
	position: absolute;
	top: 100%;
	left: 0;
	display: none;
	width: 100%;
	padding:5px 0 0 0;
}
.first:hover .prev{
	display: block;
}
.lastmenu{
	position: absolute;
	display: none;
	width: auto;
	left: 100%;
	top:0;
	padding:0 0 0 5px;
}
.merlast:hover .lastmenu{
	display: block;
}
.merlast{
	position: relative;
}
.rightmenu{
	position: fixed;
	top:40%;
	right:-300px;
	transition: right 1s ease;
	
}
.rightmenu:hover{
	right: 0;
}
.hoverme{
	top: 40%;
	right:0px;
	position: absolute;
	transform: rotate(-90deg);
}
.socials{
	width: 300px;
}
.rightmenu{
	position: fixed;
  	top: 50%;
  	right: -400px;
  	transform: translateY(-40%);
  	transition: right 2s ease;

}
.rightmenu:hover{
   right:0;
}
.hoverme{
  position: absolute;
  top: 50%;
  right: 91.5%;
  transform: translateY(-50%) rotate(-90deg);
  padding: 25px 30px;
  background-color:#728DBB ;
  text-align: center;
  text-transform: uppercase;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
  .socials{
  width: 300px;
  height:200px;
  background-color: #66b2b2;
  padding: 70px 50px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px; 
}
