@import url(Font-family.css);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clearfix:after{
	content: "";
	clear: both;
	display: block;
}
.wrapper{
	width: 1020px;
	border:1px solid;
	border-color: blue;
	margin: 0 auto;
}
.fisrt1{
	width:1020px;
	border:1px solid;
	border-color: blue;	 
}
.float1{
	width: 338px;
	border:1px solid;
	border-color: blue;
	color: red;
	float: left;
}
.second{
	width: 1020px;
	border:1px solid;
	border-color: blue;
	color: red;
}
.half1{
	width: 700px;
	float: left;
	color:red;
}
.float2{
	border:1px solid;
	border-color: blue;

}
.half2{
	width: 320px;
	float: right;
	color:red;
}
.float3{
	
	border:1px solid;
	border-color: blue;
	color:red;
}
.third{
	width: 1020px;
	border:1px solid;
	border-color: blue;
	color: red;
}
.half3{
	width: 300px;
	border:1px solid;
	border-color: blue;
	color: red;
	float: left;
}
.half4{
	width: 716px;
	border:1px solid;
	border-color: blue;
	color: red;
	float: right;
}
.q{
	
	border:1px solid;
	border-color: blue;
	color: red;
}
.w{
	
	border:1px solid;
	border-color: blue;
	
	
}
.w1{
	width: 356px;
	border:1px solid;
	border-color: blue;
	color: red;
	float: left;
}
.w2{
	width: 354px;
	border:1px solid;
	border-color: blue;
	color: red;
	float: right;
}
.ww{
	border:1px solid;
	border-color: blue;
}
.fourth{
	width: 1020px;
	border:1px solid;
	border-color: blue;
	color: red;
}
.half5{
	width: 510px;
	border:1px solid;
	border-color: blue;
	color: red;
	float: left;
}
.wsx{
	
	border:1px solid;
	border-color: blue;
	color: red;
	
}
.edc {
	width: 510px;
	border: 1px solid;
	border-color: blue;
	color: red;
}
.qe{
	
	border:1px solid;
	border-color: blue;
	color: red;
	}
.qa{
	width: 255px;
	border:1px solid;
	border-color: blue;
	color: red;
	float: left; 
}
.qs{
	width: 124px;
	border:1px solid;
	border-color: blue;
	color: red;
	float: left; 
}
.qz{
	width: 125px;
	border:1px solid;
	border-color: blue;
	color: red;
	float: right; 
}
.we{
	
	border:1px solid;
	border-color: blue;
	color: red;
	
}
.qa1{
	width: 251px;
	border:1px solid;
	border-color: blue;
	color: red;
	float: right; 
}
.half6{
	width: 506px;
	border:1px solid;
	border-color: blue;
	color: red;
	float: right;
}
.plus{
	
	border:1px solid;
	border-color: blue;
	color: red;
	
}
.menu{
	font-size:0;
	text-align: center;
	position:relative;
	z-index: 5;

}
.menu li{
	background: #110D36;
}
.first{
	text-align: center;
	font-size: 20px;
	display: inline-block;
	margin-right: 20px;
	font-family: Montserrat;
	position: relative;	
}
.merlast{
	font-family: alex_brushregular;
} 
.lastmenu > li{
	font-family: Baskerville Old Face;
}
.menu .first a:hover{
	background: #EBDF21;
}
.menu .first a{
	color:white;
	text-decoration: none;
	padding: 40px 40px 40px 140px;
	display: block;
	position: relative;
}
.menu .first .threea{
	color:white;
	text-decoration: none;
	padding: 40px 140px 40px 40px;
	display: block;
	position: relative;
}
.onea:before{
	content: "";
	width: 100px;
	height: 100px;
	background: url("imgs/css_sprites (1).png") -200px -0;
	
	position: absolute;
	top: 0;
	left: 0;
}

.twoa:before{
	content: "";
	width: 100px;
	height: 100px;
	background: url("imgs/css_sprites (1).png") -100px -100px;
	
	position: absolute;
	top: 0;
	left: 0;
}
.threea:after {
	content: "";
	width: 100px;
	height: 100px;
	background: url("imgs/css_sprites (1).png") -0 -100px;
	transition: all 0s ;
	position: absolute;
	bottom: 0;
	right: 0;
}
.menu .first:hover .threea:after{
	background-position: -200px -100px;
}
.foura:before{
	content: "";
	width: 100px;
	height: 100px;
	background: url("imgs/css_sprites (1).png") -0 -200px;
	transition: all 0s ease;
	position: absolute;
	top: 0;
	left: 0;
}
.merlast:hover .foura:before{
	background-position: -300px -200px;
}
.fivea:before{
	content: "";
	width: 100px;
	height: 100px;
	background: url("imgs/css_sprites (1).png") -100px -200px;
	transition: all 1s ease;
	position: absolute;
	top: 0;
	left: 0;
}
.sixa:before{
	content: "";
	width: 100px;
	height: 100px;
	background: url("imgs/css_sprites (1).png") -300px -0;
	transition: all 1s ease;
	position: absolute;
	top: 0;
	left: 0;
}
.sevena:before{
	content: "";
	width: 100px;
	height: 100px;
	background: url("imgs/css_sprites (1).png") -0 -300px;
	transition: all 1s ease;
	position: absolute;
	top: 0;
	left: 0;
}
.merlastli:hover .sevena:before{
	background-position: -300px -100px;
}

.eighta:before{
	content: "";
	width: 100px;
	height: 100px;
	background: url("imgs/css_sprites (1).png") -100px -0;
	transition: all 1s ease;
	position: absolute;
	top: 0;
	left: 0;
}
.prev{
	position: absolute;
	top: 100%;
	left: 0;
	display: none;
	width: 100%;
	padding:5px 0 0 0;
}
.first:hover .prev{
	display: block;
}
.lastmenu{
	position: absolute;
	display: none;
	width: auto;
	left: 100%;
	top:0;
	padding:0 0 0 5px;
}
.merlast:hover .lastmenu{
	display: block;
}
.merlast{
	position: relative;
}
.hover{
	width: 305px;
	height: 400px;
	position:fixed;
	display: block;
	top: 60%;
	right: -306px;
	transform:translateY(-50%) rotate(-90deg) ;
	background:#7298AE;
	transition: right 1s ease-in-out;

}
.hover:hover{
	
	right: 0;
	
	
}
.click{
	padding: 15px 25px;
	background: #151E44;
}
.click p{
	text-align: center;
	color: #A9A560;

}
.social{
	display: inline-block;
	transform: rotate(45deg) translateX(28%) translateY(18%);

}
.social li{
	
	display: inline-block;
	position: relative;
	width: 100px;
	height: 100px;
	overflow: hidden;
}
.social li:hover{
	background: #9E2222;
}
.soail li a{
	display: block;
	
	width: 100px;
	height: 100px;
	position: absolute;
	transform: rotate(45deg);
	
}
.social ul li a:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100px;
	width: 100px;
	transform: rotate(45deg) scale(1.6) translateX(-5px);
	background: url(imgs/icon-sprites-6.jpg) 0 -100px;
}
.social ul li+li a:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100px;
	width: 100px;
	transform: rotate(45deg) scale(1.4);
	background: url(imgs/icon-sprites-6.jpg) -100px -100px;
	}
	.social ul li+li+li a:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100px;
	width: 100px;
	transform: rotate(45deg) scale(1.4);
	background: url(imgs/icon-sprites-6.jpg) -200px -100px;
	}
	.social ul li+li+li+li a:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100px;
	width: 100px;
	transform: rotate(45deg) scale(1.4) ;
	background: url(imgs/icon-sprites-6.jpg) -300px -100px;
	}