html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
color: white;
background-image: linear-gradient(163deg, #384a57 25%, #0b0e21 25%, #0b0e21 50%, #384a57 50%, #384a57 75%, #0b0e21 75%, #0b0e21 100%);
background-size: 157.33px 48.10px;

/*background: url(../imgs/paper-30.jpg) center;*/

line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*header*/
.tagline{
	text-align: center;
	border-bottom: 2px ridge #F9EE46;
}


.nav-link{
	margin-right: 10px;
	color: white !important;
}

.nav-link:hover{
	color:#1B0E04 !important;
}
.nav-link:last-child{
	margin-right: 0;
}
.dropdown-menu{
	background: #B1BCC6;
}

.socials{
	font-size: 15px;

}
.socials>li>a{
	text-decoration: none;
	

}
.telephone,.mail,.adress{
	font-size: 12px;
	text-decoration: none;
	color:#572A11;
}
.telephone:hover{
	color: #145D46;
}
.mail:hover{
	color: #145D46;
}
.adress:hover{
	color:#145D46;
}
/*header*/
/*owl*/
.owl-nav{
		display: flex;
		justify-content: space-between;
		height: 0;
		position:relative;
    	bottom: 200px;

    	
	}
.owl-prev,.owl-next{
	width: 15px;
	height: 45px;
	border: 0.2px solid black !important;

}
/*owl*/
/* ======= About Section ======= */
.about-section {
  padding-top: 50px;
}
.about-section .section-title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 36px;
  position: relative;
  font: 500 30px;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid #F8D802;
  padding-bottom: 5px;
  color:#FFFFFF;

  
}

.section-title:before{
	content: "";
	position: absolute;
	border-bottom: 5px solid #F8D802;
	bottom: -15%;
	width: 77px;
	left: 46.6%;
}
.about-section .intro {
  color: #a2a6af;
  font-size: 16px;
  max-width: 760px;
  margin: 0 auto;
  margin-bottom: 60px;
}
.about-section .items-wrapper {
  margin-bottom: 40px;
}
.about-section .items-wrapper .figure-holder {
  min-height: 170px;
  margin-bottom: 15px;
  vertical-align: bottom;
}
.about-section .items-wrapper .item-inner {
  padding: 30px;
}
.about-section .items-wrapper .item-title {
  color: #40babd;
  font-size: 25px;
  margin: 0;
  margin-bottom: 15px;

}
.item-title{
	font-size: 30px;
	text-transform: uppercase;
	font-weight: 800;
}
.about-section .items-wrapper .item-desc {
  color: white;
}
.technologies {
  margin-bottom: 90px;
}
.technologies li {
  margin-right: 10px;
}
.technologies li:last-child {
  margin-right: 0;
}
.testimonials {
  background: #40babd;
}
.testimonials-inner {
  padding: 60px 30px;
  position: relative;
  max-width: 800px;
}
.testimonials-inner .profile-holder {
  position: absolute;
  left: 30px;
  text-align: center;
}
.testimonials-inner .profile-image {
  display: inline-block;
  margin: 0 auto;
}
.testimonials-inner .quote {
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  margin-left: 130px;
  border-left: none;
  margin-bottom: 0;
  font-size: 14px;
  min-height: 100px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  position: relative;
  padding: 15px;
}
.testimonials-inner .quote:before {
  position: absolute;
  left: -10px;
  top: 30px;
  content: "";
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid rgba(0, 0, 0, 0.2);
}
/*middle*/

.content p{
	line-height: 32px;
}

.buying p{
	text-align: justify;
}
.content h3{
	text-align: center;
	text-transform: uppercase;
	font-size: 25px;
	
	position: relative;
	border-bottom: 1px solid #FDFEA6;
	padding-bottom: 20px;
	color:#FDFEA6;
}
.content h3:before{
	content: "";
	position: absolute;
	border-bottom: 5px solid #FDFEA6;
	bottom: -2%;
	width: 77px;
	left: 46.6%;

}
.buying{
		position: relative;
		font: 500 30px;
		text-align: center;
		text-transform: uppercase;
		border-bottom: 1px solid #F8D802;
		padding-bottom: 5px;
		color:#FFFFFF;
	}

.buying:before{
	content: "";
	position: absolute;
	border-bottom: 5px solid #F8D802;
	bottom: -19%;
	width: 77px;
	left: 46.6%;
}

.benefitslist li{
	padding-left: 10px;
	margin-bottom: 10px;
	text-align: center;
}

.benefitslist li:first-child{
	padding-top: 20px;
}
.benefitslist li:last-child{
	margin-bottom: 0px;
}
.benefittext{
	display: inline-block;
	padding-left: 15px;
}
.safety{
	margin-top: 20px;
}

/*middle*/




/*map*/


.geolocation{
		position: relative;
		font: 500 23px 'CenturyGothic';
		text-align: center;
		text-transform: uppercase;
		border-bottom: 1px solid #F8D802;
		padding-bottom: 5px;
	}

	.geolocation:before{
		content: "";
		position: absolute;
		border-bottom: 5px solid #F8D802;
	    bottom: -10%;
	    width: 77px;
	    left: 46.6%;
	}
/*map*/
/*media*/
@media screen and (max-width: 1024px) {
.owl-nav{
	display: none;
}
@media screen and (max-width: 768px) {
.owl-nav{
	display: none;
}
@media screen and (max-width: 368px) {
.owl-nav{
	display: none;
}
/*media*/



