/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clearfix:after{
	content: "";
	clear: both;
	display: block;
}
/*main*/
body{
	width: 1200px;
	background-color: #686868;
	margin: 0 auto;
}
.wrapper{
	width: 1079px;
	margin: 0 auto;
	min-height: 500px;
	outline: 1px solid red;
	background: url(../макет/Img/подложка.jpg) 0 -65px;
	border-top:9.5px solid #414141;

	
}
/*header*/
.header{
	position: relative;

}

.Logo{
	width: 165px;
	height: 129px;
	left: 73px;
	top: 19px;
	position: absolute;
}
	
}
.OOO{
	position: absolute;
	background: url(Img/ООО_Уралинстрой.png);
	width:	260px;
	height: 26px;
	top: 60px;
	left: 250px;
}
.rank{
	position: absolute;
	background:url(Img/Участник_СРО_“Строители_Урала”.png);
	width: 254px;
	height: 18px;
	left: 250px;
	top:98px; 
}
.top_contacts{
	position: relative;
	top: 67.5px;
	left: 746px;
}
.address{
	position: absolute;
	left: -18px;
	color: #4e4e4e;
	font-size: 14px;
}
.address1{
	color: #000000;
	font-family: Tahoma;
	font-size: 16px;
	font-weight: 400;
	line-height: 14px;
}

.number{
	color: #d80000;
	font-size: 18px;
}
.telephone{
	top: 37px;
	left: 0;
	padding-left: 73px;
	position: relative;
	text-decoration: none;
	color: #444444;
	font-size: 14px;
}
.telephone:before{
	position: absolute;
	content: "";
	width:31px;
	height: 31px;
	background: url(Img/тел.png);
	left: 0;
	top:-8px;
}
.mail{
	top: 41px;
	left: 0;
	padding-left: 45px;
	position: relative;
	text-decoration: none;
	color: #565656;
	font-size: 14px;
}
.mail:before{
	position: absolute;
	content: "";
	width:30px;
	height:19px;
	background: url(Img/почта.png);
	left: 0;
	top:0;
}
.email{
	color: #000000;
	font-family: Tahoma;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}
.top_menu{
	width: 987px;
	font-size:;
	text-align: center;
	position:relative;
	z-index: 5;
	top: 160.5px;
}
.top_menu>.link{
	display: inline-block;
}
.top_menu>a{
	color: #ffffff;
	font-family: "Trebuchet MS";
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-decoration: none;
	padding: 11px 

}
/*section*/
/*.gallery*/
/*footer*/
